Repository bananahana720/data-extraction-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dependency-changes, audit-dependencies, generate-tests-reminder

.pre-commit-config.yaml:

# Pre-commit hooks for code quality enforcement
# Run manually: pre-commit run --all-files
# Install: pre-commit install

repos:
  # Black - Opinionated code formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.12
        args: [--line-length=100]

  # Ruff - Fast Python linter (replaces flake8, isort, and more)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  # Mypy - Static type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.0.0
          - types-PyYAML
        args: [--python-version=3.12]
        files: ^src/data_extract/

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: debug-statements

  # Local hooks
  - repo: local
    hooks:
      - id: check-dependency-changes
        name: Check for dependency changes
        entry: python scripts/check_dependency_changes.py
        language: python
        files: pyproject\.toml$
        pass_filenames: true
        always_run: false
        stages: [commit]

      - id: security-scan
        name: Security Scanner - Check for secrets
        entry: python scripts/scan_security.py --secrets-only --pre-commit
        language: python
        types: [text]
        exclude: ^(\.git|\.venv|venv|node_modules|__pycache__|\.pytest_cache|\.mypy_cache|dist|build|\.tox)/
        pass_filenames: false
        always_run: true
        stages: [commit]
        description: Scans for hardcoded secrets and credentials

      - id: audit-dependencies
        name: Audit test dependencies
        entry: python scripts/audit_dependencies.py --output json
        language: python
        pass_filenames: false
        always_run: false
        stages: [commit]
        files: ^(tests/.*\.py|pyproject\.toml)$
        description: Audits test imports against declared dependencies

      - id: generate-tests-reminder
        name: Reminder to generate tests for new stories
        entry: echo "Remember to run 'python scripts/generate_tests.py --story <story-file>' for new stories"
        language: system
        files: ^docs/stories/.*\.md$
        pass_filenames: false
        always_run: false
        stages: [commit]

asd
  scripts/audit_dependencies.py
  scripts/generate_tests.py
Due: none

Epic 3.5 Stories 3.5-8 to 3.5-11: Code review remediation complete (BMAD orchestration)
  README.md
  docs/backlog.md
  docs/sprint-status.yaml
  docs/stories/3.5-10-documentation-fixture-generators.md
  docs/stories/3.5-11-sprint-security-automation.md
  docs/stories/3.5-8-dependency-test-automation.md
  pyproject.toml
  scripts/audit_dependencies.py
  scripts/generate_docs.py
  scripts/generate_fixtures.py
  scripts/generate_tests.py
  scripts/manage_sprint_status.py
  scripts/scan_security.py
  tests/fixtures/test_fixtures.py
  tests/unit/test_misc/test_test.py
  tests/unit/test_scripts/test_audit_dependencies.py
  tests/unit/test_scripts/test_generate_tests.py
  tests/unit/test_scripts/test_manage_sprint_status.py
  tests/unit/test_scripts/test_scan_security.py
Due: check-dependency-changes, audit-dependencies, generate-tests-reminder

Update CLAUDE.md for Epic 3.5 completion and add .gitignore entries
  .claude/CLAUDE.md
  .gitignore
Due: none

Restructure greenfield tests to mirror src/data_extract/
  TRASH-FILES.md
  scripts/generate_tests.py
  scripts/run_quality_gates.py
  tests/unit/data_extract/chunk/__init__.py
  tests/unit/data_extract/chunk/conftest.py
  tests/unit/data_extract/chunk/test_configuration.py
  tests/unit/data_extract/chunk/test_determinism.py
  tests/unit/data_extract/chunk/test_engine.py
  tests/unit/data_extract/chunk/test_entity_preserver_analysis.py
  tests/unit/data_extract/chunk/test_entity_preserver_gaps.py
  tests/unit/data_extract/chunk/test_entity_preserver_relationships.py
  tests/unit/data_extract/chunk/test_metadata_enricher.py
  tests/unit/data_extract/chunk/test_quality.py
  tests/unit/data_extract/chunk/test_section_detection.py
  tests/unit/data_extract/chunk/test_sentence_boundaries.py
  tests/unit/data_extract/conftest.py
  tests/unit/data_extract/core/__init__.py
  tests/unit/data_extract/extract/__init__.py
  tests/unit/data_extract/extract/conftest.py
  tests/unit/data_extract/extract/test_adapter.py
  tests/unit/data_extract/extract/test_pdf.py
  tests/unit/data_extract/extract/test_registry.py
  tests/unit/data_extract/normalize/__init__.py
  tests/unit/data_extract/normalize/conftest.py
  tests/unit/data_extract/normalize/test_cleaning.py
  tests/unit/data_extract/normalize/test_completeness_validation.py
  tests/unit/data_extract/normalize/test_config.py
  tests/unit/data_extract/normalize/test_entities.py
  tests/unit/data_extract/normalize/test_metadata_enricher.py
  tests/unit/data_extract/normalize/test_metadata_enrichment.py
  tests/unit/data_extract/normalize/test_normalizer.py
  tests/unit/data_extract/normalize/test_schema.py
  tests/unit/data_extract/normalize/test_validation.py
  tests/unit/data_extract/semantic/__init__.py
  tests/unit/data_extract/semantic/conftest.py
  tests/unit/data_extract/semantic/test_quality_metrics.py
  tests/unit/data_extract/semantic/test_tfidf_vectorizer.py
  tests/unit/data_extract/utils/__init__.py
  tests/unit/data_extract/utils/test_nlp.py
Due: audit-dependencies

Add critical Epic 3→4 integration tests (Chunk→Semantic handoff)
  tests/integration/README_EPIC3_TO_EPIC4.md
  tests/integration/test_chunk_semantic_simple.py
  tests/integration/test_pipeline_epic3_to_epic4.py
Due: audit-dependencies

Implement semantic validation framework for TF-IDF/LSA correctness
  docs/testing/semantic-validation-usage.md
  tests/unit/data_extract/semantic/conftest.py
  tests/unit/test_validation/test_semantic_validator.py
  tests/validation/semantic_validator.py
Due: audit-dependencies

Complete test structure mirroring - 100% CLAUDE.md compliance
  tests/integration/test_semantic/test_lsa_pipeline.py
  tests/integration/test_semantic/test_quality_pipeline.py
  tests/integration/test_semantic/test_similarity_pipeline.py
  tests/unit/data_extract/config/__init__.py
  tests/unit/data_extract/core/test_exceptions.py
  tests/unit/data_extract/core/test_models.py
  tests/unit/data_extract/core/test_pipeline.py
Due: audit-dependencies

Fix integration test errors - Epic 3→4 handoff validation operational
  tests/integration/test_semantic/conftest.py
  tests/integration/test_semantic/test_lsa_pipeline.py
  tests/integration/test_semantic/test_quality_pipeline.py
  tests/integration/test_semantic/test_semantic_e2e.py
  tests/integration/test_semantic/test_similarity_pipeline.py
  tests/integration/test_semantic/test_tfidf_pipeline.py
Due: audit-dependencies

Wave 4.3: Aggressive semantic test remediation - eliminate false confidence
  tests/integration/test_semantic/test_semantic_e2e.py
  tests/unit/data_extract/semantic/test_quality_behavioral.py
  tests/unit/data_extract/semantic/test_quality_metrics.py
  tests/unit/data_extract/semantic/test_similarity_behavioral.py
  tests/unit/data_extract/semantic/test_tfidf_behavioral.py
  tests/unit/data_extract/semantic/test_tfidf_vectorizer.py
Due: audit-dependencies

Add TRASH/ and .claude*.flag to .gitignore
  .gitignore
Due: none

updated claude, gemini, agents files (test)
  AGENTS.md
  GEMINI.md
Due: none

Test Reality Sprint: Wave 1 & 2 - Epic 4 Foundation Complete
  docs/architecture/epic-4-architectural-decisions.md
  docs/architecture/epic-4-assessment-summary.md
  docs/architecture/epic-4-integration-test-requirements.md
  docs/architecture/epic-4-knowledge-curation-architecture.md
  docs/architecture/epic-4-performance-baselines.md
  docs/artifacts/epic-4-documentation-audit-2025-11-20.md
  docs/bmm-workflow-status.yaml
  docs/epic-4-5-action-plan-2025-11-20.md
  docs/epic-4-value-proposition.md
  docs/implementation/epic-4-implementation-patterns.md
  docs/retrospectives/epic-4-5-deployment-readiness-assessment-2025-11-20.md
  docs/sprint-status.yaml
  docs/stories/4-0-behavioral-tests-implementation.md
  docs/stories/4-1-tf-idf-vectorization-engine.context.xml
  docs/stories/4-1-tf-idf-vectorization-engine.md
  docs/stories/4-2-document-and-chunk-similarity-analysis.context.xml
  docs/stories/4-2-document-and-chunk-similarity-analysis.md
  docs/stories/4-3-latent-semantic-analysis-lsa-implementation.context.xml
  docs/stories/4-3-latent-semantic-analysis-lsa-implementation.md
  docs/stories/4-4-quality-metrics-integration-with-textstat.context.xml
  docs/stories/4-4-quality-metrics-integration-with-textstat.md
  docs/stories/4-5-similarity-analysis-cli-command-and-reporting.context.xml
  docs/stories/4-5-similarity-analysis-cli-command-and-reporting.md
  docs/tech-spec-epic-4.md
  docs/testing/epic-4-behavioral-test-execution-report.md
  docs/testing/epic-4-behavioral-test-implementations.md
  docs/testing/epic-4-behavioral-test-strategy.md
  docs/testing/epic-4-test-reality-sprint-guide.md
  tests/behavioral/__init__.py
  tests/behavioral/epic_4/__init__.py
  tests/behavioral/epic_4/conftest.py
  tests/behavioral/epic_4/test_cluster_coherence.py
  tests/behavioral/epic_4/test_determinism.py
  tests/behavioral/epic_4/test_duplicate_detection.py
  tests/behavioral/epic_4/test_performance_scale.py
  tests/behavioral/epic_4/test_rag_improvement.py
  tests/fixtures/semantic/corpus/test_corpus.json
  tests/fixtures/semantic/golden_dataset.yaml
Due: audit-dependencies, generate-tests-reminder

Test Reality Sprint: Wave 4 - Destructive Refactoring Complete
  docs/architecture-refactoring-scan-security.md
  docs/implementation/scripts-refactoring-inventory-2025-11-20.md
  docs/implementation/wave-4-refactoring-report-2025-11-20.md
  docs/sprint-status.yaml
  scripts/scan_security.py
  scripts/security/__init__.py
  scripts/security/config.py
  scripts/security/models.py
  scripts/security/orchestrator.py
  scripts/security/reporters/__init__.py
  scripts/security/reporters/base.py
  scripts/security/reporters/console.py
  scripts/security/reporters/json.py
  scripts/security/reporters/markdown.py
  scripts/security/scanners/__init__.py
  scripts/security/scanners/base.py
  scripts/security/scanners/dependencies.py
  scripts/security/scanners/history.py
  scripts/security/scanners/permissions.py
  scripts/security/scanners/sast.py
  scripts/security/scanners/secrets.py
  scripts/security/utils/__init__.py
  scripts/security/utils/cache.py
  scripts/security/utils/file_utils.py
Due: none

asd
  .claude/settings.local.json
Due: none

feat: Complete Epic 4 sprint planning orchestration
  docs/epic-4-sprint-execution-roadmap.md
  docs/sprint-status.yaml
Due: none

asd
  .claude/skills/packaged/change-tracking.skill.zip
  .claude/skills/packaged/design-patterns.skill.zip
  .claude/skills/packaged/file-organization.skill.zip
  .claude/skills/packaged/git-safety.skill.zip
  .claude/skills/packaged/infrastructure-orchestration.skill.zip
  .claude/skills/packaged/modern-tools.skill.zip
  .claude/skills/packaged/no-deviation.skill.zip
  .claude/skills/packaged/requirements-tracing.skill.zip
  .claude/skills/packaged/root-cause-analysis.skill.zip
  .claude/skills/packaged/scope-completeness.skill.zip
  .claude/skills/packaged/verification-loop.skill.zip
Due: none

Add unit tests for CacheManager and TfidfVectorizationStage
  .claude/CLAUDE.md
  .claude/settings.json
  CLAUDE.md
  docs/sprint-status.yaml
  docs/stories/4-1-tf-idf-vectorization-engine.md
  docs/tech-spec-epic-4.md
  src/data_extract/semantic/__init__.py
  src/data_extract/semantic/cache.py
  src/data_extract/semantic/models.py
  src/data_extract/semantic/tfidf.py
  tests/unit/data_extract/semantic/test_behavioral_tfidf.py
  tests/unit/data_extract/semantic/test_cache.py
  tests/unit/data_extract/semantic/test_tfidf.py
Due: audit-dependencies, generate-tests-reminder

Implement Story 4.2: Document and Chunk Similarity Analysis Engine
  docs/sprint-status.yaml
  docs/stories/4-2-document-and-chunk-similarity-analysis.md
  pyproject.toml
  src/data_extract/semantic/__init__.py
  src/data_extract/semantic/similarity.py
  tests/behavioral/epic_4/test_similarity_story_4_2.py
  tests/unit/data_extract/semantic/test_similarity.py
Due: check-dependency-changes, audit-dependencies, generate-tests-reminder

docs: Document Story 4.2 cleanup - moved temp files to TRASH
  TRASH-FILES.md
Due: none

feat: Implement Story 4.3 - LSA dimensionality reduction and clustering
  docs/sprint-status.yaml
  docs/stories/4-3-latent-semantic-analysis-lsa-implementation.md
  src/data_extract/semantic/lsa.py
  tests/behavioral/epic_4/test_lsa_stage_integration.py
  tests/performance/test_lsa_performance.py
  tests/unit/test_semantic/test_lsa.py
Due: audit-dependencies, generate-tests-reminder

fix(story-4.3): Resolve code review findings - Mypy errors and documentation
  docs/sprint-status.yaml
  docs/stories/4-3-latent-semantic-analysis-lsa-implementation.md
  src/data_extract/semantic/lsa.py
Due: generate-tests-reminder

asd
  .claude/skills/packaged/async-python-patterns.skill.zip
  .claude/skills/packaged/change-tracking.skill
  .claude/skills/packaged/change-tracking.skill.zip
  .claude/skills/packaged/design-patterns.skill
  .claude/skills/packaged/design-patterns.skill.zip
  .claude/skills/packaged/file-organization.skill
  .claude/skills/packaged/file-organization.skill.zip
  .claude/skills/packaged/git-safety.skill
  .claude/skills/packaged/git-safety.skill.zip
  .claude/skills/packaged/infrastructure-orchestration.skill
  .claude/skills/packaged/infrastructure-orchestration.skill.zip
  .claude/skills/packaged/langchain-architecture.skill.zip
  .claude/skills/packaged/llm-evaluation.skill.zip
  .claude/skills/packaged/ml-pipeline-workflow.skill.zip
  .claude/skills/packaged/modern-tools.skill
  .claude/skills/packaged/modern-tools.skill.zip
  .claude/skills/packaged/no-deviation.skill
  .claude/skills/packaged/no-deviation.skill.zip
  .claude/skills/packaged/prompt-engineering-patterns.skill.zip
  .claude/skills/packaged/python-packaging.skill.zip
  .claude/skills/packaged/python-performance-optimization.skill.zip
  .claude/skills/packaged/python-testing-patterns.skill.zip
  .claude/skills/packaged/rag-implementation.skill.zip
  .claude/skills/packaged/requirements-tracing.skill
  .claude/skills/packaged/requirements-tracing.skill.zip
  .claude/skills/packaged/root-cause-analysis.skill
  .claude/skills/packaged/root-cause-analysis.skill.zip
  .claude/skills/packaged/scope-completeness.skill
  .claude/skills/packaged/scope-completeness.skill.zip
  .claude/skills/packaged/uv-package-manager.skill.zip
  .claude/skills/packaged/verification-loop.skill
  .claude/skills/packaged/verification-loop.skill.zip
Due: none

fix: Correct test default config weight for flesch_ease metric
  docs/artifacts/wave-3c-executive-summary.md
  docs/artifacts/wave-3c-performance-validation-report.md
  tests/unit/data_extract/semantic/test_quality_metrics.py
Due: audit-dependencies

feat: Implement Story 4.4 - Quality Metrics Integration with Textstat
  docs/sprint-status.yaml
  docs/stories/4-4-quality-metrics-integration-with-textstat.md
  src/data_extract/semantic/quality_metrics.py
  tests/behavioral/epic_4/test_quality_filtering.py
  tests/performance/test_quality_performance.py
Due: audit-dependencies, generate-tests-reminder
